{% extends 'base.html' %}

{% load static %}
{% block css %}{% static 'css/login.css' %}{% endblock css %}

{% block body_content %}

{% comment %} navbar {% endcomment %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
      </div>
    </div>
  </nav>

  {% comment %} user creation area {% endcomment %}
<section id="create_user">
    <div class="container mt-5">
        <div class="row mt-5 justify-content-center align-items-center">
            <div class="col-md-6">
                <img src="{% static 'img/create-acc.jpg' %}" class="img-fluid login-img" alt="404 | Error image not found.">
            </div>
            <div class="col-md-6">
                <h3 class="heading">Create New Account</h3>
                <hr>
                <form action="{% url 'create_acc' %}" method="post">
                  {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" id="name" name="name" placeholder="Enter Your Name" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Enter Your Name">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="row justify-content-center align-items-center mb-3">
                        <div class="col-md-6">

                            <label for="mobile-number" class="form-label">Mobile Number</label>
                            <input type="tel" name="phone_number" id="mobile-number" placeholder="7800012345"
                                class="form-control" pattern="[0-9]{10}">

                        </div>
                        <div class="col-md-6">

                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" id="password" class="form-control"
                                placeholder="More Than 6 Characters">

                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <hr>
                <p>Already a user? <a href="{% url 'login' %}">Login Now</a> or <br> Go to <a
                        href="{% url '/' %}">Homepage</a>.</p>
            </div>
        </div>
    </div>
</section>
{% comment %} footer {% endcomment %}
<section id="footer">
    <div class="footer_area">
      <div class="wave-svg_area">
        <img src="{% static 'img/footer-wave.png' %}" class="img-fluid footer_img" alt="" />
      </div>
    </div>
  </section>
  
{% endblock body_content %}